<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Metaexamenes: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'main', 'tabla' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
<div id="wrapper">
    <!-- Begin Header -->
    <div id="header">
		   <div id="clogo"><p class="grande"><b>GlobalContact</b> :: Sistema de Evaluación</p></div>	 
		</div>
		<!-- End Header -->    <!-- Begin Navigation -->
    <div id="navigation">
		   <%= yield :navigation %>		 
    </div>
		<!-- End Navigation -->
		 
		<!-- Begin Content -->
		<div id="content">
        <%= yield %>	     </div>
		<!-- End Content -->
		<!-- Begin Content -->
		<div id="footer">
        <%= yield :footer %>	     </div>
		<!-- End Content -->

  </div>
  <!-- End Wrapper -->
	<p style="color: green"><%= flash[:notice] %></p>
</body>
</html>
